.button {
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button:hover {
  box-shadow: 0 0 0 0.2rem rgba(79, 66, 255, 0.4);
  border: none;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.button:focus {
  box-shadow: 0 0 0 0.2rem rgba(79, 66, 255, 0.4);
  border: none;
}
.button p {
  color: black;
}
.flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.flashing::before,
.flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: flashing 1s infinite alternate;
  animation-delay: 0s;
}
.flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes flashing {
  0% {
    background-color: black;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  box-shadow: 9999px 0 0 -5px;
  animation: pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.pulse::before,
.pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
}
.pulse::before {
  left: 0px;
  box-shadow: 9984px 0 0 -5px;
  animation: pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.pulse::after {
  left: 0px;
  box-shadow: 10014px 0 0 -5px;
  animation: pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}
.floating::before,
.floating::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.floating::before {
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: floating-before 3s infinite ease-in-out;
}
.floating::after {
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes floating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}
@keyframes floating-before {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@keyframes floating-after {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

.falling {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  box-shadow: 9999px 0 0 0 black;
  animation: falling 1s infinite linear;
  animation-delay: 0.1s;
}
.falling::before,
.falling::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.falling::before {
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: falling-before 1s infinite linear;
  animation-delay: 0s;
}
.falling::after {
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: falling-after 1s infinite linear;
  animation-delay: 0.2s;
}

@keyframes falling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 black;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
@keyframes falling-before {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 black;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
@keyframes falling-after {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 black;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
