input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  overflow: visible;
}

.input {
  padding-left: 1em;
  font-size: 1em;
  outline: none;
  display: block;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 30px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input::-ms-expand {
  background-color: transparent;
  border: 0;
}

.input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

input[type="text"] {
  padding-left: 1em !important;
}
