:root {
  --width: calc(100vw);
  --sidebar: 90px;
}
.hero-wrapper {
  width: 100%;
  height: 100svh;
  background-color: var(--bg);
  display: flex;
  border: 2px solid black;
}
.hero {
  height: 100%;
  width: calc(100% - var(--sidebar));
  margin: auto;
  margin-left: var(--sidebar);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.hh {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}
.menu-icon {
  display: none;
}
.hh-left {
  font-size: 2em;
  font-weight: 800;
}
.hh-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hh-theme {
  height: 3em;
  width: 3em;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--sbg);
  border-right: 3px solid var(--sbg);
}
.hh-theme img {
  height: 60%;
  width: 60%;
}
.hh-setting {
  height: 3em;
  width: 250px;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: var(--sbg);
  color: white;
}
.hh-setting-left {
  display: flex;
  width: 75%;
  align-items: center;
}
.hh-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  background-color: var(--bg);
  color: black;
  border-radius: 50%;
  margin: 0 4%;
}
.hh-setting-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin: 0 4%;
}
.hh-setting-btn img {
  height: 80%;
  width: 80%;
}
.hh-profile span {
  font-size: 2em;
}
.hh-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.hh-details p {
  font-weight: 600;
  font-size: 16px;
}
.hh-details span {
  font-size: 10px;
  font-weight: 200;
}

/* Header end */

.hm {
  height: auto;
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.8em 0;
}
.hm-para {
  max-width: 400px;
  font-size: 20px;
  line-height: 2;
}
.chessboard-title {
  font-size: 2em;
  font-weight: bold;
  color: var(--pr);
  text-shadow: 0.1rem 0.1rem 0.2rem var(--sec);
  line-height: 0;
}
.hm-right-btns {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.hf {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer-left {
  width: 59%;
  margin-right: auto;
}
.footer-left img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.footer-right {
  width: 39%;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
}

/* Tabs */
@media screen and (max-width: 800px) {
  .menu-icon {
    display: contents;
    font-size: 1em;
    margin-right: 8px;
  }
  .hero {
    width: calc(100% - 16px);
    margin-left: 0;
    margin: auto;
  }
  .hh-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  .hh-setting-left {
    display: none;
  }
  .hm{ min-width: 350px;}
}
@media screen and (max-width: 550px) {
  .hm{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1em 0em;
  }
  .hm-para, .hm-right-btns{
    width: 90%;
    margin: auto;
  }
  .hm-para{font-size: 1em; text-align: left;}
  .hm-right-btns {
    align-items: center;
  }
  .hm-right-btns button { margin-top: 1.5em;}
}
/* Mobile */
@media screen and (max-width: 420px) {
  .hm-para{font-size: 1em;}
}
