:root {
  --icon: calc(6vh);
  --width : calc(5vh);
  --iconhover : calc(6vh);
  --sidebar : calc(300px);
  --sidebarhover : calc(280px);
}
.sidebar-wrapper {
  height: 100%;
  width: 4%;
  min-width: calc(8vh);
  background-color: var(--sbg);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.sidebar-header {
  padding: 1vh 0 5vh 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-main {
  width: 100%;
  overflow-y: auto;
}
.sidebar-main ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-logo {
  height: var(--icon);
  width: var(--icon);
  border-radius: 50%;
  background-color: var(--bg);
  cursor: pointer;
}
.sidebar-item {
  width: var(--icon);
  height: var(--icon);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: calc(var(--icon) / 2);
  cursor: pointer;
  margin: 0 10px 1.5vh 10px;
}
.sidebar-item span {
  display: none;
  width: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.sidebar-item-logo {
  height: var(--icon);
  width: var(--icon);
  border-radius: 50%;
  background-color: var(--bg);
}
.sidebar-wrapper:hover {
  min-width: var(--sidebar);
  overflow-y: auto;
}
.sidebar-wrapper:hover .sidebar-header {
  padding-bottom: 2em;
}
.sidebar-wrapper:hover .sidebar-item {
  width: var(--sidebarhover);
  height: var(--icon);
  margin: auto;
  border-radius: 25px;
  background-color: var(--pr);
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5vh;
  padding: 1.5em 0em;
}
.sidebar-wrapper:hover span {
  display: block;
  margin-left: 1.5vh;
  width: auto;
}
.sidebar-wrapper:hover .sidebar-item-logo {
  height: var(--iconhover);
  width: var(--iconhover);
  border-radius: 50%;
  background-color: var(--bg);
  margin-left: 1.5vh;
}

.sidebar-wrapper:hover .sidebar-header {
    width: var(--sidebarhover);
    margin: auto;
    justify-content: flex-start;
}
.sidebar-wrapper:hover .sidebar-logo {
  /* height: calc(var(--iconhover) * 3);
  width: calc(var(--iconhover) * 3); */
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 100px;
}
