:root {
  --navbar-width: 300px;
  --navbar-width-min: 80px;
  --bg: white;
  --bg: white;
  --navbar-min-mobile: 0px;
  --navbar-width-mobile: 100%;
}

#nav-bar {
  position: absolute;
  height: 100vh;
  background: var(--sbg);
  display: flex;
  flex-direction: column;
  color: var(--txt);
  overflow: hidden;
  user-select: none;
  z-index: 2;
  border-right: 5px ridge var(--txt);
}
#layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(120, 120, 120, 0.4);
  z-index: 1;
  pointer-events: none;
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}
#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-content .nav-button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 55px;
  border-radius: 27.5px;
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
#nav-toggle:not(checked) ~ #nav-content .nav-button span {
  display: block;
  transition: opacity 1s ease-in-out;
}
#nav-toggle:not(checked) ~ #nav-content .nav-button .fas {
  margin: 0% 1em;
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox,
#nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
}

#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type="checkbox"] {
  display: none;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s ease-in-out;
  font-weight: bolder;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-button {
  width: 85%;
  height: 55px;
  border-radius: 27.5px;
  position: relative;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--bg);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: var(--pr);
}
.nav-button:hover {
  box-shadow: 0 2px 4px rgba(66, 64, 64, 0.1), 0 4px 8px rgba(46, 204, 113, 0.3);
}
.nav-button span {
  font-size: 1em;
}
.nav-button:hover span {
  font-weight: bold;
  color: var(--sbg);
}
.fas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.nav-button:hover .sidebar-listitem {
  height: 65px;
  width: 65px;
}
.sidebar-listitem {
  transition: all 0.3s ease-in-out;
}

.main-logo {
  height: 60px;
  width: 60px;
}
#nav-header {
  position: relative;
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--sbg);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s ease-in-out;
}

#nav-content {
  margin: -16px 0;
  padding: 30px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--sbg);
  box-shadow: 0 0 0 16px var(--sbg);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;
}

@media screen and (min-width: 800px) {
  #nav-toggle:checked ~ #nav-content {
    width: var(--navbar-width-min);
  }
  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }
}
/* Tabs */
@media screen and (max-width: 800px) {
  #nav-toggle:checked ~ #nav-content {
    width: 0px;
  }
  #nav-toggle:checked ~ #nav-header {
    width: 0px;
  }
}
/* Mobile */
@media screen and (max-width: 420px) {
  #nav-toggle:checked ~ #nav-content {
    width: 0px;
  }
  #nav-toggle:checked ~ #nav-header {
    width: 0px;
  }
  #nav-header {
    width: calc(100vw - 16px);
  }
  #nav-content {
    width: 100vw;
  }
}
